@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: .5rem;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


body {
    background-color: #fff;
    overflow-x: hidden;
}

/* GLITCH EFFECT*/

.container {
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .glitch {
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    text-shadow: 0.05em 0 0 #000, -0.03em -0.04em 0 #333,
      0.025em 0.04em 0 #111;
    animation: glitch 725ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 500ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
    transform: translate(0.04em, 0.03em);
    opacity: 0.75;
  }
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #333, -0.03em -0.04em 0 #111,
        0.025em 0.04em 0 #000;
    }
    15% {
      text-shadow: 0.05em 0 0 #333, -0.03em -0.04em 0 #111,
        0.025em 0.04em 0 #000;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #333, 0.025em 0.035em 0 #111,
        -0.05em -0.05em 0 #000;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #333, 0.025em 0.035em 0 #111,
        -0.05em -0.05em 0 #000;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #333, 0.03em 0 0 #111,
        0 -0.04em 0 #000;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #333, 0.03em 0 0 #111,
        0 -0.04em 0 #000;
    }
    100% {
      text-shadow: -0.05em 0 0 #333, -0.025em -0.04em 0 #111,
        -0.04em -0.025em 0 #000;
    }
  }


/*
    HERO SECTION
*/

#hero {
    height: 80vh;
    display: flex;
    background-image: url(../assets/pexels-neo-2653362-min.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
    margin: .5rem;
    border-radius: 1rem;
    position: relative;
    text-align: center;
}


#hero h2 {
    font-size:.8rem;
    letter-spacing: 2px;
    color: #fff;
}

#hero h1 {
    color:#fff;
}

#hero section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 0.5s ease;
    padding-bottom: 2rem;
}

#hero section.fade-in{
    opacity: 1;
    transform: translateY(0);
}

#hero section span {
    color: #ddd;
    font-size: 1.2rem;
    text-transform: capitalize;
}

#hero .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#hero .buttons .github-btn {
    border: 1.5px solid #fff;
    border-radius: .3rem;
    color: #fff;
    padding: .8rem 1.4rem;
    width:8rem;
    text-align:center;
    text-transform: capitalize;
}
#hero .buttons .github-btn:hover{
    opacity: 75%;
}

#hero .buttons .work-btn{
    background-color: #ddd;
    color: #111;
    border-radius: .3rem;
    padding: .9rem 1.5rem;
    width:8rem;
    text-align:center;
    text-transform: capitalize;
}
#hero .buttons .work-btn:hover{
    opacity: 75%;
}

.tech-stack-span{
    color:#000;
}

.tech-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 1rem;
    height: 7rem;
    width: 99%;
    gap:1rem;
    margin: auto;
}

.tech-stack-span{
    font-size:1.2rem;
    text-transform: uppercase;
}


.tech-stack div {
    padding:0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.tech-stack img{
    width:3rem;
    height:3rem;
    filter: grayscale(100%);
}

/* ABOUT ME */

#about {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 0.5s ease;
}

#about.fade-in{
    opacity: 1;
    transform: translateY(0);
}

#about span{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333;
    text-align: center;
    margin-top: 2rem;
    font-weight: lighter;
}

#about h2{
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#111;
}

#about p {
    color:#333;
    font-size: 1.2rem;
    width:50%;
}

#about i {
    font-size:2rem;
    color:#000;
}

#about i:hover {
    opacity:80%;
    color: #2E9BFF;
    transform:scale(1.1);
}

#work{
    min-height: auto;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 0.5s ease;
}

#work.fade-in{
    opacity: 1;
    transform: translateY(0);
}

#work h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: -2rem;
    font-weight: lighter;
}

#work h2 {
    text-align: center;
    margin: 3rem 0 2rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    color:#000;
}

#work .box-container{
    min-height:80vh;
    width:100%;
}

#work .box-container .demo {
    display: flex;
    min-height: 80vh;
    background-color: #111;
    margin: 1rem;
    border-radius: 1rem;
}

#work .box-container .demo .info{
    width:50%;
    padding:2rem;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    justify-content: center;
}

#work .box-container .demo .info span{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}


#work .box-container .demo .info p {
    width:75%;
    font-size:1.2rem;
    color: #ddd;
}


#work .box-container .demo .info a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:.5rem;
    color: #666;
    padding: 1rem;
    border: 2px solid #666;
    border-radius: .5rem;
    width: 12rem;
    font-size: 1rem;
}

#work .box-container .demo .info a:hover {
    color: #fff;
    border-color: #fff;
}

#work .box-container .demo .image{
    width:50%;
    padding:1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#work .box-container .demo .image img{
    width:95%;
    border: 2px solid #333;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    
    html {
        overflow-x: hidden!important;
    }

    #hero section{
        gap:2.5rem;
    }

    #hero section span{
        font-size:1.6rem;
    }

    #hero section .glitch{
        font-size: 5rem;
    }

    #hero section h2{
        font-size:1.4rem;
    }

    #hero .tech-stack{
        flex-direction: column;
        flex-wrap: wrap;
        gap:1rem;
        align-items: center;
        justify-content: center;
    }

    #hero .tech-stack div {
        gap:.5rem;
        display: flex;
        justify-content: center;
    }


    /* about me */
 
    #about p{
        width:80%;
    }


    /* work */

    #work {
        min-height: auto;
    }

    #work .container {
        min-height: auto;
    }

    #work .box-container{
        min-height: auto;
    }

    #work .box-container .demo {
        flex-direction: column-reverse;
        min-height: auto;
    }

    #work .box-container .demo .info{
        width:100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #work .box-container .demo .info span{
        font-size: 1.8rem;
    }

    #work .box-container .demo .info p{
        width: 85%;
    }

    #work .box-container .demo .info a{
        font-size: 1.4rem;
    }

    #work .box-container .demo .image{
        width:100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

#contact {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap:1rem;
    background-color: #111;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#contact h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ddd;
    text-align: center;
    font-weight: lighter;
}

#contact h2{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color:#fff;
}

#contact input {
    width:100%;
    outline: none;
    padding: .7rem;
    color:#111;
    margin-bottom: 1rem;
    border-radius:.5rem;
    border: none;
}

#contact textarea {
    width:100%;
    outline: none;
    padding: .7rem;
    color: #fff;
    resize: none;
    border-radius:.5rem;
    border: none;
}

#contact button {
    background:none;
    outline: none;
    width:8rem;
    cursor: pointer;
    margin-top:1rem;
    padding: .5rem 2rem;
    background:none;
    color: #fff;
    border-radius: .5rem;
    border: 2px solid #fff;
}

#contact button:hover {
    background-color: #fff;
    color: #000;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: #111;
}

footer span{
    color:#fff;
    font-size:1rem;
    text-align: center;
}

