@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");





.hero {
  line-height: 1;
  display: inline-block;
  color: #000;
  z-index: 2;
  letter-spacing: 10px;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 5px;
  left: 10px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  padding-bottom: 10rem;
}

.typing-demo {
  width: 22rem;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0.5rem;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  background-color: #fff;
  overflow: hidden;
}

img {
  pointer-events: none;
}

/* GLITCH EFFECT*/
.container {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
  position: fixed;
  background-color: #6C00FF;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

header span {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #111;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav a {
  color: #fff;
}

header nav a:last-child{
  color:#6C00FF;
  border-radius: 3rem;
  background-color: #fff;
  padding: .5rem 2rem;
  text-transform: capitalize;
}

#hero {
  height: 100vh;
  display: flex;
  padding: 1rem;
  overflow: hidden;
}

#hero span {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #6C00FF;
}

#hero h1 span {
  color: #2D2727;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 2px 0 #2D2727, 0 2px #2D2727;
}

#hero section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease, transform 0.5s ease;
  padding-bottom: 2rem;
  padding: 1rem;
  overflow: hidden;
}

#hero section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#hero .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#hero .buttons .github-btn {
  border: 1.5px solid #6C00FF;
  border-radius: 0.3rem;
  color: #6C00FF;
  padding: 0.8rem 1.4rem;
  width: 8rem;
  text-align: center;
  text-transform: capitalize;
}

#hero .buttons .github-btn:hover {
  opacity: 75%;
}

#hero .buttons .work-btn {
  background-color: #6C00FF;
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.9rem 1.5rem;
  width: 8rem;
  text-align: center;
  text-transform: capitalize;
}

#hero .buttons .work-btn:hover {
  opacity: 75%;
}

/* ABOUT ME */
#about {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top:1rem;
}

#about .about-box-left {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 4rem;
}

#about .about-box-left span {
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #6C00FF;
}

#about .about-box-left h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #333;
}

#about .about-box-left h2 span{
  color: #333;
}

#about .about-box-left p {
  color: #333;
  font-size: 1.2rem;
  width: 75%;
  text-align: center;
}

#about .about-box-left i {
  font-size: 2rem;
  color: #222;
}

#about .about-box-left i:hover {
  opacity: 80%;
  color: #6C00FF;
  transform: scale(1.1);
}

#about .about-box-right {
  height: 100%;
  width: 50%;
  color: #fff;
}




#about.fade-in {
  opacity: 1;
  transform: translateY(0);
}


#skills {
  height: 100vh;
  opacity: 0;
  display: flex;
  transform: translateY(50px);
  transition: opacity 1.5s ease, transform 0.5s ease;
  position: relative;
}

#skills.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#skills .right {
  width: 100%;
  height: 100%;
  display: flex;
}




#skills .right .skill-box {
  height: 100%;
  width: 25%;
  background-color: #111;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  cursor: pointer;
  transition: .8s all ease-in-out;
  align-self: flex-start;
  position: relative;
  padding-top: 5rem;
}
#skills .right .skill-box:hover {
  background-color: #222;
}



#skills .skill-box i {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

#skills .skill-box h3 {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}

#skills .skill-box p {
  font-size: 1rem;
  color: #ddd;
}



#work  {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem 2rem 2rem;
  gap:2rem;
  text-align: center;
}

#work span {
  color: #6C00FF;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#work h2 {
  color: #111;
  font-size: 2.5rem;
}

#work .box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:2rem;
  flex-wrap: wrap;
  justify-content: center;
}

#work .box-container .demo {
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

#work .box-container .demo img{
  width: 25rem;
  height: 13rem;
  border-radius: 1rem;
  z-index: 999;
  margin-top: 1rem;
}

#work .box-container .demo p {
  width: 75%;
}

#work .box-container .demo a {
  border: 2px solid #6C00FF;
  color: #6C00FF;
  padding: .5rem 2rem;
  border-radius: 3rem;
  text-transform: capitalize;
}

#work .box-container .demo a:hover {
  background-color: #6C00FF;
  color: #fff;
}

#work .box-container .demo:hover {
  transform: scale(1.03);
}
#work .box-container .demo i {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  z-index: 2000;
  top: 1rem;
}

#contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background-color: #111;
}


#contact h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 4rem;
}

#contact input {
  width: 100%;
  outline: none;
  padding: 1rem;
  color: #111;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ddd;
}

#contact textarea {
  width: 100%;
  outline: none;
  padding: 0.7rem;
  color: #111;
  resize: none;
  border-radius: 0.5rem;
  border: none;
  background-color: #fff;
}

#contact button {
  background: none;
  outline: none;
  width: 8rem;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  background: none;
  color: #fff;
  border-radius: 3rem;
  border: 2px solid #fff;
}

#contact button:hover {
  background-color: #fff;
  color: #111;
}

footer {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: #111;
}

footer span {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}



@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden !important;
  }

  header {
    flex-direction: column;
    gap:1rem
  }

  #hero section {
    gap: 2.5rem;
    text-align: center;
  }
  #hero section .glitch {
    font-size: 3.5rem;
  }

  #hero h1 span {
    font-size: 3rem;
  }

  
  /* work */
  #work {
    min-height: auto;
  }
  #work .container {
    min-height: auto;
  }
  #work .box-container {
    min-height: auto;
  }
  #work .box-container .demo {
    flex-direction: column;
    min-height: auto;
  }

  #about {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #about .about-box-left {
    width: 100%;
    align-items: center;
  }

  #about .about-box-right {
    width: 100%;
    height: 100vh;
  }

}


@media screen and (max-width: 480px) {
  #skills .right {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #skills .right .skill-box {
    width: 100%;
  }
}